@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    text-transform: none;
    
    background-color: #ffffff;
    background-repeat: no-repeat;
}
body li {
    list-style: none;
} /*Честно я бы вообще бы оставил просто li, но по критерию наверное не пройдет)*/
a {
    text-decoration: none;
}
.site-navigation a,
.button,
.footer-navigation,
.feedback-button,
.item-button-basket,
.filter-button,
.pagination-item {
    text-transform: uppercase;
} /*Этот список так оставляю, я не знаю как лучше его сделать)*/
.main-header {
    background-color: #f7e296;
}
.main-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
}
.site-panel-user a,
.site-panel a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-panel a:hover,
.site-panel a:focus {
    opacity: 0.6;
}
.site-navigation a:active,
.site-panel a:active {
    opacity: 0.3;
}
.site-panel-user li:nth-last-child(1),
.site-panel input {
    opacity: 0.3;
    background-color: #f7e296;
    color: #000000;
    border: 0px;
}
.site-panel input:hover,
.site-panel input:focus {
    opacity: 0.6;
}
.submenu-cameras a,
.submenu-watch a,
.submenu-quadcopters a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
    list-style: none;
}
.about-us h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
}
.transport-company {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
    list-style: none;
}
a.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}
.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #000000;
}
.breadcrumbs a,
.breadcrumbs-current {
    opacity: 0.3;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    list-style: none;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6; 
}
.breadcrumbs a:active {
    opacity: 0.1; 
}
.bluetooth,
.colors {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    list-style: none;
}
.filter-colors span, 
.filter-bluetooth span {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #000000;
    list-style: none;
}
.filter-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
}
.catalog-item a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    list-style: none;
}
.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #464646;
}
.item-button-basket {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
}
.item-button-contrast {
    opacity: 0.5;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
}
li.pagination-item:nth-last-child(1) a,
li.pagination-item:nth-child(1) a,
li.pagination-item:nth-child(2) a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: #000000;
}
li.pagination-item:nth-child(3) a,
li.pagination-item:nth-child(4) a {
    opacity: 0.3;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.3);
}
.main-footer {
    background-color: #464646;
}
.footer-panel-user a,
.footer-panel a {
    opacity: 0.7;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
}  
.footer-panel-user li:nth-child(2) {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
}
.footer-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #ffffff;
    list-style: none;
}
.footer-panel a:hover,
.footer-panel a:focus {
     color: #ffffff;   
}
.footer-panel a:active {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
} 
.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: 0.6;
}
.footer-navigation a:active {
    opacity: 0.3;
}
p.adress,
a.telephone {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
}
.social-button {
    list-style: none;
}
.feedback span {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.feedback textarea,
.feedback input {
    opacity: 0.4;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
}
.feedback-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}
.feedback textarea:hover,
.feedback input:hover,
.feedback textarea:focus,
.feedback input:focus {
    background-color: #ebebeb;
}