@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    text-transform: none;
    
    background-color: #ffffff;
    background-repeat: no-repeat;
}
body li,
body ul {
    list-style: none;
    margin: 0;
    padding: 0;
} /*Честно я бы вообще бы оставил просто li, но по критерию наверное не пройдет)*/
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.site-navigation a,
.button,
.footer-navigation,
.feedback-button,
.item-button-basket,
.filter-button,
.pagination-item {
    text-transform: uppercase;
} /*Этот список так оставляю, я не знаю как лучше его сделать)*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.main-header {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
}
.container-logo {
    background: linear-gradient(to top, #f7e296 27px, #ffffff 12px);
}
.header-logo {
    margin: 0;
    padding: 0;
    padding-left: 60px;
    display: block;
}
.header-logo svg {
    padding-top: 10px;
} 
.main-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
}
.main-navigation{
    background-color: #f7e296;
    margin: 0;
    padding-top: 16px;
    padding-left: 60px;
    padding-right: 58px;
}
.site-panel { 
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
}
.container-panel {
    width: 160px;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 37px;
}
.container-panel img {
    position: absolute;
    left: 3px;
    top: 8px;
}
.panel-user {
    width: 140px;
    margin: 0;
    padding: 0;
    margin-left:340px;
    padding-left: 30px;
    position: relative;
}
.panel-user img {
    position: absolute;
    left: 4px;
    top: 9px;
}
.exit {
    width: 80px;
    margin: 0;
    padding: 0;
    margin-left: 11px;
    opacity: 0.3;
}
.login {
    position: relative;
    width: 230px;
    margin: 0;
    padding: 0;
    margin-left: 340px;
    padding-left: 30px;
}
.login img {
    position: absolute;
    left: 3px;
    top: 9px;
}
.compare {
    position: relative;
    width: 100px;
    padding-left: 50px;
}
.compare img {
    position: absolute;
    left: 30px;
    top: 11px;
}
.basket {
    position: relative;
    width: 63px;
    padding-left: 31px;
    text-align: right;
}
.basket img {
    position: absolute;
    left: 10px;
    top: 9px;
}
.site-panel a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
    letter-spacing: 0.15px; 
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
    padding-bottom: 50px;
}
.product {
    width: 260px; 
    position: relative;
    line-height: 1.33;
    letter-spacing: 3.6px;
    display: flex;
    flex-direction: column;
    margin-right:auto;
}
.submenu {
    background-color:  #f7e296;
    position: absolute;
    display: flex;
    top: 45px;
    left: -60px;
    box-sizing: border-box;
    width: 1160px;
    padding-left: 60px;
    padding-bottom: 35px;
    display: none;
    z-index: 2;
}
.product:hover > .submenu {
    display:inherit;
}
.product span{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 35px;
    font-weight: 300;
    color: #000000;
    opacity: 0.3;
    position: absolute;
    top: -1px;
    left: 230px;
}
.shipping {
    width: 158px;
    margin-left: auto;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.guarantee {
    width: 140px;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.contacts {
    width: 120px;
    margin-left: 84px;
    text-align: right;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.submenu-cameras {
    width: 240px;
}
.submenu-watch {
    width: 200px;
}
.submenu-quadcopters {
    width: 160px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-panel a:hover,
.site-panel a:focus {
    opacity: 0.6;
}
.site-navigation a:active,
.site-panel a:active {
    opacity: 0.3;
}
.site-panel-user li:nth-last-child(1),
.site-panel input {
    opacity: 0.3;
    background-color: #f7e296;
    color: #000000;
    border: 0;
} /* Разобраться со шрифтом в site-panel input*/
.site-panel input:hover,
.site-panel input:focus {
    opacity: 0.6;
}
.submenu-cameras a,
.submenu-watch a,
.submenu-quadcopters a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
    list-style: none;
    letter-spacing: 0.15px;
}
.rectangle {
    min-height: 115px;
    background-color: #f7e296;
    position: relative;
}
.rectangle::before {
    content: "";
    position: absolute;
    left: 600px;
    top: 40px;
    width: 100px;
    height: 7px;
    background: #ffffff;
}
.presentation {
    min-height: 480px;
    background-color: #ffffff;
}
.icon-menu {
    display: flex;
    flex-wrap: wrap;
}
.icon-menu li {
  width: 160px;
  margin: 0 auto;  
}
.monopods h2 {
    width: 100px;  
  }
.icon-menu .virtuality {
    margin-left: 0;  
}
.icon-menu .quadcopters {
    margin-right: 0;  
}
.icon-menu div {
    position: relative;
    min-height: 160px; 
    background: #f7e296;
}
.icon-menu h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
    padding-top: 20px;
}
.virtuality svg {
    position: absolute;
    top: 52px;
    left: 32px;
}
.virtuality:hover div,
.virtuality a:focus div {
    background: #f0c52e; 
}
.virtuality:active svg,
.virtuality:active h2 {
    opacity: 0.3; 
}
.monopods svg {
    position: absolute;
    top: 41px;
    left: 39px;
}
.monopods:hover div,
.monopods a:focus div {
    background: #f0c52e; 
}
.monopods:active svg,
.monopods:active h2 {
    opacity: 0.3; 
}
.action svg {
    position: absolute;
    top: 38px;
    left: 50px;
}
.action:hover div,
.action a:focus div {
    background: #f0c52e; 
}
.action:active svg,
.action:active h2 {
    opacity: 0.3; 
}
.fitness svg {
    position: absolute;
    top: 50px;
    left: 29px;
}
.fitness:hover div,
.fitness a:focus div {
    background: #f0c52e; 
}
.fitness:active svg,
.fitness:active h2 {
    opacity: 0.3; 
}
.smart svg {
    position: absolute;
    top: 32px;
    left: 57px;
}
.smart:hover div,
.smart a:focus div {
    background: #f0c52e; 
}
.smart:active svg,
.smart:active h2 {
    opacity: 0.3; 
}
.quadcopters svg {
    position: absolute;
    top: 50px;
    left: 15px;
}
.quadcopters:hover div,
.quadcopters a:focus div {
    background: #f0c52e; 
}
.quadcopters:active svg,
.quadcopters:active h2 {
    opacity: 0.3; 
}
.amenities-backdrop {
    width: 100%;
    min-height: 453px;
    background: linear-gradient(to top, #e5e5e5 63.5%, #ffffff 24%);
}
.amenities {
    display: flex;
    padding-top: 142px;
}
.amenities-menu {
    width: 400px;
    padding-right: 140px;
}
.shipment {
    width: 700px;
    padding-right: 300px;
    position: relative;
}
.shipment svg {
    position: absolute;
    top: 10px;
    left: 556px;
}
.amenities-menu button {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
}
.shipment h2 {
    font-family: Gilroy, Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.02;
    letter-spacing: 0.47px;
    text-align: left;
    color: #000000;
    margin: 0;
    padding-bottom: 17px;
}
.shipment p {
    font-family: OpenSans, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;
}
.logotypes-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 285px;
    padding-top: 3px;
}
.logotype1 a {
    display: block;
    position: relative;
    height: 100px; 
    width: 260px; 
}
.dji {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
}
.logotype1:hover .dji,
.logotype1 a:focus .dji {
    display: block;   
}
.logotype2 a {
    display: block;
    position: relative;
    height: 100px; 
    width: 260px; 
}
.gadgets {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
}
.logotype2:hover .gadgets,
.logotype2 a:focus .gadgets {
    display: block;   
}
.logotype3 a {
    display: block;
    position: relative;
    height: 100px; 
    width: 260px; 
}
.gopro {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
}
.logotype3:hover .gopro,
.logotype3 a:focus .gopro {
    display: block;   
}
.logotype4 a {
    display: block;
    position: relative;
    height: 100px; 
    width: 260px; 
}
.vive {
    position: absolute;
    top: 0px;
    z-index: 1;
    display: none;
}
.logotype4:hover .vive,
.logotype4 a:focus .vive {
    display: block;   
}
.about {
    display: flex;
    padding-bottom: 73px;
}
.about-us {
    margin: 0;
    padding: 0;
    position: relative;
    width: 475px;
}
.about-us::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 7px;
    background: #000000;
}
.about-us p {
    padding-top: 3px;
    padding-bottom: 12px;
}
.exposure {
    margin: 0;
    padding: 0;
    width: 560px;
    padding-left: 124px;
    position: relative;
}
.exposure::before {
    content: "";
    position: absolute;
    left: 125px;
    top: 0px;
    width: 80px;
    height: 7px;
    background: #000000;
}
.exposure p {
    padding-top: 4px;
    padding-bottom: 23px;
}
.write {
    width: 260px;
    padding-top: 69px;
    min-height: 40px; 
}
.write a {
    display: block;
    padding-left: 42px;
    background: url("../img/Layer 7 copy 4.png") no-repeat; 
    background-position: 0px 8px;
}
.write a:hover,
.write a:focus {
    background: url("../img/Layer 7 copy 11.png") no-repeat; 
    background-position: 0px 0px; 
}
.about-us h2,
.exposure h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
    padding-top: 14px; 
}
.transport-company {
    padding-left: 36px;
    padding-top: 39px;
}
.transport-company li { 
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
    list-style: none;
    position: relative;
}
.transport-company li::before {
    content: "";
    position: absolute;
    left: -33px;
    top: 14px;
    width: 8px;
    height: 8px;
    background-image: url("../img/slider-button.png");
}
.detailed {
    width: 260px;
    min-height: 40px;
    padding-top: 63px;
}
.detailed a {
    display: block;
    padding-left: 23px;
    background: url("../img/Layer 7 copy 4.png") no-repeat; 
    background-position: 0px 8px;
}
.detailed a:hover,
.detailed a:focus {
    background: url("../img/Layer 7 copy 11.png") no-repeat; 
    background-position: 0px 0px; 
}
.button:active span {
    opacity: 0.3; 
}
.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}
.title-menu {
    padding-left: 80px;
    padding-top: 38px;
}
.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 0;
}
.breadcrumbs {
    display: flex;
    padding-top: 10px;
}
.breadcrumbs p,
.breadcrumbs-current p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0);
    list-style: none;
    opacity: 0.3;
}
.breadcrumbs a:hover p,
.breadcrumbs a:focus p {
    opacity: 0.6; 
}
.breadcrumbs a:active p {
    opacity: 0.1; 
}
.breadcrumbs-first {
    width: 61px;
    padding-right: 30px;
    position: relative;
}
.breadcrumbs-first img {
    position: absolute;
    left: 68px;
    top: 23px;
}
.breadcrumbs-second {
    width: 114px;
    padding-right: 35px;
    position: relative;
}
.breadcrumbs-second img {
    position: absolute;
    left: 128px;
    top: 23px;
}
.breadcrumbs-current {
    width: 160px;
    margin-right: auto;
}
.cotalog-page {
    display: flex;
    margin-top: 30px;
    justify-content: wrapper;    
}
.filters {
    display: flex;
    flex-direction: column;
    background: #efefef;
    flex: auto;
}
.filters-title {
    background: #dbdbdb;
    min-height: 70px;
}
.title-filling {
    margin-left: auto;
    width: 330px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: #000000;
    text-transform: uppercase; 
    padding-top: 24px; 
}
.filters-cost {
    margin-right: 68px;
    margin-left: auto;
    box-sizing: border-box;
    width: 201px;
    min-height: 142px;
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
}
.cost-filling {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
}



.filter-side {
    padding-right: 70px;
    margin-right: 68px;
    margin-left: auto;
    box-sizing: border-box;
    width: 201px;
}
.catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 76px;
    flex: auto;
}
.sort {
    height: 70px;
    padding-left: 73px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background: #ebebeb;
    margin-bottom: 71px;
}
.item-list {
    width: 835px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 73px;
}
.professional,
.follow {
    margin-left: 40px;
}
.catalog-list div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item-price {
    margin: 0;
    padding: 0;
}
.catalog-list h3 {
    width: 260px;
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.18px;
    text-align: left;
    color: #000000;
}
.unsinkable,
.follow {
    margin-top: 45px;
}
.amateur h3 {
    padding-top: 22px;
    padding-left: 0px;
}
.amateur .catalog-item-price {
    padding-top: 22px;
    padding-left: 0px;
}
.professional h3 {
    padding-top: 22px;
    padding-left: 0px;
}
.professional .catalog-item-price {
    padding-top: 22px;
    padding-left: 0px;
}
.unsinkable h3 {
    padding-top: 25px;
    padding-left: 0px;
}
.unsinkable .catalog-item-price {
    padding-top: 24px;
    padding-left: 0px;
}
.follow h3 {
    padding-top: 24px;
    padding-left: 0px;
}
.follow .catalog-item-price {
    padding-top: 24px;
    padding-left: 0px;
}
.catalog-list .amateur,
.catalog-list .professional,
.catalog-list .unsinkable,
.catalog-list .follow {
    position: relative;
}
.item-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 379px;
    padding: 0;
    background-color: #eeeeee;
    opacity: 0.7;
    z-index: 1;
   
    display: none;
}
.amateur:hover .item-button,
.follow:hover .item-button,
.professional:hover .item-button,
.unsinkable:hover .item-button {
    display: block;
}
.item-button-basket {
    display: block;
    width: 200px;
    min-height: 40px;
    border: 0;
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
    background: url("../img/item-button-basket.png") no-repeat; 
    background-position: 0px 15px;
}

.item-button-basket:hover,
.item-button-basket:focus {
    background-color: #f0c52e; 
    background-position: 0px 0px; 
}
.item-button-basket:active span {
    opacity: 0.3; 
}
.item-button-contrast {
    display: block;
    width: 200px;
    min-height: 40px;
    border: 0;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
}
.item-button-contrast:hover span,
.item-button-contrasts:focus span {
    color: rgba(0, 0, 0, 1);
}
.item-button-contrast:active span {
    opacity: 0.2; 
}
.pagination-list {
    margin-top: 38px;
    width: 760px;
    min-height: 70px;
    margin-left: 73px;
    background: #ebebeb;
    display: flex;
}
.pagination-list li:nth-child(1) {
    margin-left: 29px;
    padding-top: 22px;
}
.pagination-list li:nth-child(2) {
    margin-left: 240px;
    padding-top: 22px;
}
.pagination-list li:nth-child(3) {
    margin-left: 28px;
    padding-top: 22px;
}
.pagination-list li:nth-child(4) {
    margin-left: 27px;
    padding-top: 22px;
}
.pagination-list li:nth-child(5) {
    margin-left: 228px;
    padding-top: 22px;
}
.bluetooth,
.colors {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    list-style: none;
}
.filter-colors span, 
.filter-bluetooth span {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #000000;
    list-style: none;
}
.filter-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
}
.catalog-list a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    list-style: none;
}
.catalog-item-image {
    margin: 0;
    padding: 0;
}
.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #464646;
}
.item-button-basket {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    text-align: center;
    font-style: normal;
    font-stretch: normal
}
.item-button-contrast {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
}
.pagination-item:nth-last-child(1) a,
.pagination-item:nth-child(1) a,
.pagination-item:nth-child(2) a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: #000000;
}
.pagination-item:nth-child(3) a,
.pagination-item:nth-child(4) a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.3);
}
.main-footer {
    background-color: #464646;
    padding-top: 45px;
    padding-bottom: 65px;
}
.upper-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

}
.footer-navigation{
    display: flex;
    width: 440px;
    padding-top: 3px;
}
.footer-logo {
    padding-top: 20px;
}
.footer-container {
    display: flex;
    align-items: wrapper; 
}
.footer-panel {
    display: flex;
    flex-wrap: wrap;
}
.footer-basket {
    position: relative;
    width: 70px;
    padding-left: 30px;
    padding-top: 15px;
    margin-left: auto;
    text-align: right;
    text-align: top;
}
.footer-basket img {
    position: absolute;
    left: 18px;
    top: 27px;
}
.footer-exit {
    width: 70px;
    padding-top: 15px;
}
.footer-user {
    position: relative;
    width: 150px;
    padding-left: 30px;
    padding-top: 15px;
    margin-left: auto;
}
.footer-user img {
    position: absolute;
    left: 5px;
    top: 29px;
}
.footer-compare {
    position: relative;
    width: 92px;
    padding-top: 15px;
    padding-left: 40px;
    margin-left: auto;
}
.footer-compare img {
    position: absolute;
    left: 20px;
    top: 29px;
}
.footer-login {
    position: relative;
    width: 67px;
    margin-left: auto;
    padding-top: 15px;
    padding-left: 30px;
}
.footer-login img {
    position: absolute;
    left: 4px;
    top: 27px;
}
.adress {
    width: 220px;
    margin: 0;
    padding: 0;
}
.footer-shipping {
    padding-left: 148px;
}
.footer-guarantee {
    padding-left: 34px;
}
.footer-contacts {
    padding-left: 32px;
}
.telephone {
    margin-left: auto;
}
.social-container {
    display: flex;
    margin-top: 60px; 
    position: relative;
}
.social-container::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 15px;
    width: 80px;
    height: 7px;
    background: #ffc600;
}
.social {
    display: flex;
    width: 140px;
    justify-content: space-between;
    margin-left: 509px;
}
.footer-logo-html {
    margin-left: auto;
}
.footer-panel a {
    opacity: 0.7;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
}  
.footer-exit {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
}
.footer-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #ffffff;
    list-style: none;
}
.footer-panel a:hover,
.footer-panel a:focus {
     color: #ffffff;   
}
.footer-panel a:active {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
} 
.footer-panel a:hover img,
.footer-panel a:focus img {
    color: #b5931c;
    opacity: 0.6;
}
.footer-panel a:active img {
    color: #7e6d31;
    opacity: 0.3;
}
.footer-logo-html img:hover,
.footer-logo-html img:focus,
.footer-logo img:hover,
.footer-logo img:focus,
.header-logo img:hover,
.header-logo img:focus,
.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: 0.6;
}
.footer-logo-html img:active,
.footer-logo img:active,
.header-logo img:active,
.footer-navigation a:active {
    opacity: 0.3;
}
.adress,
.telephone {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
}
.social-button {
    list-style: none;
}
.social-button:hover .cls-1,
.social-button:focus .cls-1 {
    opacity: 0.6;
}

.social-button:focus .cls-1 {
    opacity: 0.1;
}

.feedback span {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.feedback textarea,
.feedback input {
    opacity: 0.4;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
}
.feedback-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}
.feedback textarea:hover,
.feedback input:hover,
.feedback textarea:focus,
.feedback input:focus {
    background-color: #ebebeb;
}
.feedback {
    display: none;
    width: 960px;
    height: 553px;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.feedback-popup {
    padding-left: 100px;
    padding-right: 100px;
}
.feedback-name,
.feedback-mail {
    min-width: 360px;
    min-height: 75px;
}
.modal {
    display: none;
    width: 960px;
    height: 559px;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  }