@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/opensanslightitalic.woff2') format('woff2'), url('../fonts/opensanslightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/opensansitalic.woff2') format('woff2'), url('../fonts/opensansitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/opensanssemibolditalic.woff2') format('woff2'), url('../fonts/opensanssemibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/opensansbold.woff2') format('woff2'), url('../fonts/opensansbold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/opensansbolditalic.woff2') format('woff2'), url('../fonts/opensansbolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('../fonts/opensansextrabold.woff2') format('woff2'), url('../fonts/opensansextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('../fonts/opensansextrabolditalic.woff2') format('woff2'), url('../fonts/opensansextrabolditalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
  
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
    text-transform: none;
    
    background-color: #ffffff;
    background-repeat: no-repeat;
}
body li,
body ul {
    list-style: none;
    margin: 0;
    padding: 0;
} /*Честно я бы вообще бы оставил просто li, но по критерию наверное не пройдет)*/
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.site-navigation a,
.button,
.footer-navigation,
.feedback-button,
.item-button-basket,
.filter-button,
.pagination-item {
    text-transform: uppercase;
} /*Этот список так оставляю, я не знаю как лучше его сделать)*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.wrapper-left {
    width: 270px;
    margin-left: auto;
    padding-right: 70px;
    box-sizing: border-box; 
}
.main-header {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
}
.container-logo {
    background: linear-gradient(to top, #f7e296 50%, #ffffff 50%);
    position: relative;
}
.header-logo {
    margin: 0;
    padding: 0;
    padding-left: 60px;
}
.header-logo img {
    position: absolute;
    margin: 0;
    bottom: 0;
} /* Здесь не разобрался почему при bottom:0; все встает на место и вообще очень странное поведение*/
.main-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
}
.main-navigation{
    background-color: #f7e296;
    margin: 0;
    padding-top: 27px;
}
.site-panel { 
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    position: relative;
   
}
.site-panel img {
    position: absolute;
    left: 63px;
    top: 8px;
}
.container-panel {
    width: 160px;
    margin: 0;
    padding: 0;
    padding-left: 97px;
}
.panel-user {
    width: 140px;
    margin: 0;
    padding: 0;
    margin-left:370px;
    position: relative;
}
.panel-user img {
    position: absolute;
    left: -26px;
    top: 9px;
}
.exit {
    width: 80px;
    margin: 0;
    padding: 0;
    margin-left: 11px;
    opacity: 0.3;
}
.login {
    position: relative;
    width: 230px;
    margin: 0;
    padding: 0;
    margin-left: 370px;
}
.login img {
    position: absolute;
    left: -26px;
    top: 9px;
}
.compare {
    position: relative;
    width: 100px;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}
.compare img {
    position: absolute;
    left: -20px;
    top: 11px;
}
.basket {
    position: relative;
    width: 80px;
    margin-left: 13px;
    text-align: right;
}
.basket img {
    position: absolute;
    left: -2px;
    top: 9px;
}
.site-panel a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
    letter-spacing: 0.15px; 
}
.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding-top: 39px;
}
.product {
    width: 220px; 
    margin-left: 60px;
    position: relative;
    line-height: 1.33;
    letter-spacing: 3.6px;
    display: flex;
    flex-direction: column;
}
.product img {
    position: absolute;
    left: 230px;
    top: 4px;
    opacity: 0.3;
} /* прозрачность плюса везде постоянная, стоит ли с этим заморачиваться и если стоит то как*/
.shipping {
    width: 158px;
    margin-left: 320px;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.guarantee {
    width: 140px;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.contacts {
    width: 120px;
    margin-left: auto;
    margin-right: 58px;
    text-align: right;
    line-height: 1.33;
    letter-spacing: 3.6px;
}
.submenu {
    display: flex;
    width: 600px;
    padding-bottom: 35px;
    padding-top: 21px;
   /* display: none;*/
}
.product:hover > .submenu {
    display:inherit;
}
.submenu-cameras {
    width: 200px;
    margin-right: 40px;
}
.submenu-watch {
    width: 160px;
    margin-right: 40px;
}
.submenu-quadcopters {
    width: 160px;
}
.site-navigation a:hover,
.site-navigation a:focus,
.site-panel a:hover,
.site-panel a:focus {
    opacity: 0.6;
}
.site-navigation a:active,
.site-panel a:active {
    opacity: 0.3;
}
.site-panel-user li:nth-last-child(1),
.site-panel input {
    opacity: 0.3;
    background-color: #f7e296;
    color: #000000;
    border: 0;
} /* Разобраться со шрифтом в site-panel input*/
.site-panel input:hover,
.site-panel input:focus {
    opacity: 0.6;
}
.submenu-cameras a,
.submenu-watch a,
.submenu-quadcopters a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    color: #000000;
    text-transform: none;
    list-style: none;
    letter-spacing: normal;
}
.about {
    display: flex;
}
.about-us {
    margin: 0;
    padding: 0;
    width: 50%;
    margin-bottom: 95px;
}
.about-us h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
}
.transport-company {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
    color: #000000;
    text-transform: none;
    list-style: none;
}
.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: wrapper;
    color: #000000;
}
.title-menu {
    padding-left: 80px;
}
.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-top: 45px;
}
.breadcrumbs {
    display: flex;
}
.breadcrumbs a,
.breadcrumbs-current {
    opacity: 0.3;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: rgba(0, 0, 0, 0.3);
    list-style: none;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6; 
}
.breadcrumbs a:active {
    opacity: 0.1; 
}
.cotalog-page {
    display: flex;
    margin-top: 45px;
    justify-content: wrapper;    
}
.filters {
    display: flex;
    flex-direction: column;
    background: #efefef;
    flex: auto;
}
.filters-title {
    background: #dbdbdb;
    min-height: 70px;
    padding-right: 70px;
    padding-left: 60px;
}
.title-filling {
    width: 200px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    color: #000000;
    text-transform: uppercase; 
}
.filters-cost {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    height: 210px;
    padding-right: 70px;
    padding-left: 60px;
}
.cost-filling {
    width: 200px;
}
.filter-side {
    padding-right: 70px;
}
.catalog {
    display: flex;
    flex-direction: column;
    margin-bottom: 77px;
    flex: auto;
}
.sort {
    height: 70px;
    padding-left: 73px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 3.2px;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    background: #ebebeb;
    margin-bottom: 71px;
}
.item-list {
    width: 852px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 70px;
}
.catalog-item {
    margin: auto;
}
.pagination-list {
    margin-top: 40px;
    width: 760px;
    height: 70;
    margin-left: 72px;
    background: #ebebeb;
    display: flex;
    align-items: wrapper;
}
.pagination-list li:nth-child(1) {
    margin-left: 30px;
}
.pagination-list li:nth-child(2) {
    margin-left: 240px;
}
.pagination-list li:nth-child(3) {
    margin-left: 31px;
}
.pagination-list li:nth-child(4) {
    margin-left: 31px;
}
.pagination-list li:nth-child(5) {
    margin-left: 232px;
}
.bluetooth,
.colors {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #000000;
    list-style: none;
}
.filter-colors span, 
.filter-bluetooth span {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #000000;
    list-style: none;
}
.filter-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
}
.catalog-item a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #000000;
    list-style: none;
}
.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #464646;
}
.item-button-basket {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
}
.item-button-contrast {
    opacity: 0.5;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.5);
}
.pagination-item:nth-last-child(1) a,
.pagination-item:nth-child(1) a,
.pagination-item:nth-child(2) a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: #000000;
}
.pagination-item:nth-child(3) a,
.pagination-item:nth-child(4) a {
    opacity: 0.3;
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.3);
}
.main-footer {
    background-color: #464646;
    padding-top: 65px;
    padding-bottom: 65px;
}
.upper-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    align-items: wrapper; 
}
.footer-navigation{
    display: flex;
    width: 440px;
    justify-content: space-between;
    align-items: wrapper;
    padding-left: 160px;
}
.footer-container {
    display: flex;
    margin-bottom: 65px;
    align-items: wrapper; 
}
.footer-panel {
    display: flex;
    width: 360px;
}
.footer-basket {
    width: 80px;
    margin-left: auto;
}
.footer-panel-user {
    display: flex;
}
.footer-exit {
    width: 45px;
    margin-left: 20px;
}
.footer-user {
    width: 180px;
    margin-left: 520px;
}
.footer-compare {
    width: 115px;
    margin-left: auto;
    margin-right: 20px;
}
.footer-login {
    width: 100px;
    margin-left: auto;
    margin-right: 40px;
}
.adress {
    width: 200px;
    margin: 0;
    padding: 0;
}
.telephone {
    margin-left: auto;
}
.social-container {
    display: flex;
    margin-top: 65px; 
}
.social {
    display: flex;
    width: 160px;
    justify-content: space-between;
    margin-left: 520px;
}
.footer-logo-html {
    margin-left: auto;
}
.footer-panel-user a,
.footer-panel a {
    opacity: 0.7;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    letter-spacing: 0.2px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
}  
.footer-panel-user li:nth-child(2) {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
}
.footer-navigation a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #ffffff;
    list-style: none;
}
.footer-panel a:hover,
.footer-panel a:focus {
     color: #ffffff;   
}
.footer-panel a:active {
    opacity: 0.3;
    color: rgba(255, 255, 255, 0.3);
} 
.footer-navigation a:hover,
.footer-navigation a:focus {
    opacity: 0.6;
}
.footer-navigation a:active {
    opacity: 0.3;
}
.adress,
.telephone {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
}
.social-button {
    list-style: none;
}
.feedback span {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.feedback textarea,
.feedback input {
    opacity: 0.4;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(70, 70, 70, 0.4);
    background-color: #f2f2f2;
}
.feedback-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}
.feedback textarea:hover,
.feedback input:hover,
.feedback textarea:focus,
.feedback input:focus {
    background-color: #ebebeb;
}
.feedback {
    display: none;
    width: 960px;
    height: 553px;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}
.feedback-popup {
    padding-left: 100px;
    padding-right: 100px;
}
.feedback-name,
.feedback-mail {
    min-width: 360px;
    min-height: 75px;
}
.modal {
    display: none;
    width: 960px;
    height: 559px;
    box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  }